.saving {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: auto;
  flex-direction: column;
  background-color: var(--vscode-editor-background);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  line-height: 24px;
}

.saving .title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}